.forgot-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f7fc; /* Light, neutral background */
  padding: 0 20px;
}

.forgot-password-box {
  background-color: white;
  padding: 40px 30px;
  border-radius: 10px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.forgot-password-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.input-container {
  position: relative;
  margin-bottom: 20px;
}
.toggle-icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 24px;
  height: 24px;
}
.forgot-input {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffffff;
  transition: border-color 0.3s ease;
}

.forgot-input:focus {
  outline: none;
  border-color: #007bff; /* Primary color for focus */
}

.forgot-floating-label {
    position: absolute;
    left: 11px; /* Adjusted for better alignment */
    top: 11px; /* Adjusted for proper alignment */
    font-size: 16px;
    color: #a0a6ae;
    background-color: #ffffff; /* Blend with input border */
    padding: 0 4px; /* Padding to prevent overlap */
    transition: all 0.5s ease;
    pointer-events: none;
}

.forgot-floating-label.filled, .forgot-input:focus + .forgot-floating-label {
    top: -9px;
    left: 14px;
    font-size: 0.85rem;
    color: #007bff;
}

.forgot-btn {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.forgot-btn:hover {
  background-color: #0056b3;
}

.loader-icon {
  width: 25px;
  height: 25px;
}

/* Make responsive */
@media (max-width: 768px) {
  .forgot-password-box {
    padding: 30px 20px;
  }
}

@media (max-width: 480px) {
  .forgot-password-title {
    font-size: 1.6rem;
  }
}
